<mat-toolbar>
  <span>Reactive Search</span>
</mat-toolbar>

<br>

<div style="text-align: center;">
  <button 
    [disabled]="showProgressBar"
    color="primary"
    mat-raised-button 
    (click)="search($event)">
    Search
  </button>

  <button 
    [disabled]="showProgressBar"
    color="primary"
    mat-raised-button 
    (click)="searchHotels($event)">
    Search Hotels
  </button>
</div>

<div *ngIf="showProgressBar">
  Cargando...
  <br>
  <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</div>

<hr>

<div *ngIf="!isHotels"  >
    <h4>Suppliers</h4>
    <mat-card  *ngFor="let result of resultsObserver | async" style="margin-bottom: 14px">
        <strong>{{ result }}</strong>
    </mat-card>
</div>

<div *ngIf="isHotels">
    <h4>Hotels</h4>
    <mat-card  *ngFor="let result of resultsHotelsObserver | async" style="margin-bottom: 14px">
        <strong>Name {{ result?.name }}</strong> <br>
        <strong>Descriptions {{ result?.shortDescription  }}</strong> <br>
        <strong>Stars {{ result?.amountStars  }}</strong>
    </mat-card>
</div>
